{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "rest-spread-spacing": ["error", "never"],
    "react/prop-types": ["off"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
