<dl>
  <dt>Term 1</dt>
  <dd>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum autem
    perferendis exercitationem asperiores fuga incidunt, nam dicta amet. Dolor
    eligendi nisi praesentium placeat officiis esse corporis molestiae.
    Doloremque accusamus, vel!
  </dd>
  <dt>Term 2</dt>
  <dd>
    Veritatis repellendus porro ipsam beatae temporibus natus id adipisci nobis
    accusantium quidem eum fugit cupiditate deleniti nisi nesciunt dicta
    officia, enim, atque corporis neque error. Unde saepe molestiae hic
    voluptatibus?
  </dd>
</dl>
