<table class="table">
  <thead>
    <tr>
      <th>Element</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>&lt;strong&gt;</code></td>
      <td><strong>This is strong text</strong></td>
    </tr>
    <tr>
      <td><code>&lt;em&gt;</code></td>
      <td><em>This is emphasized text</em></td>
    </tr>
    <tr>
      <td><code>&lt;u&gt;</code></td>
      <td><u>This is underlined text</u></td>
    </tr>
    <tr>
      <td><code>&lt;s&gt;</code></td>
      <td><s>This is strikethrough text</s></td>
    </tr>
    <tr>
      <td><code>&lt;a&gt;</code></td>
      <td><a href="#">This is link text</a></td>
    </tr>
    <tr>
      <td><code>&lt;small&gt;</code></td>
      <td><small>This is small text</small></td>
    </tr>
    <tr>
      <td><code>&lt;sup&gt;</code></td>
      <td><sup>This is superscript text</sup></td>
    </tr>
    <tr>
      <td><code>&lt;sub&gt;</code></td>
      <td><sub>This is subscript text</sub></td>
    </tr>
    <tr>
      <td><code>&lt;code&gt;</code></td>
      <td><code>This is code text</code></td>
    </tr>
    <tr>
      <td><code>&lt;samp&gt;</code></td>
      <td><samp>This is sample text</samp></td>
    </tr>
    <tr>
      <td><code>&lt;var&gt;</code></td>
      <td><var>This is variable text</var></td>
    </tr>
    <tr>
      <td><code>&lt;kbd&gt;</code></td>
      <td><kbd>This is keyboard text</kbd></td>
    </tr>
    <tr>
      <td><code>&lt;abbr&gt;</code></td>
      <td><abbr title="Abbreviation">This is abbreviation text</abbr></td>
    </tr>
    <tr>
      <td><code>&lt;del&gt;</code></td>
      <td><del>This is deleted text</del></td>
    </tr>
    <tr>
      <td><code>&lt;ins&gt;</code></td>
      <td><ins>This is inserted text</ins></td>
    </tr>
    <tr>
      <td><code>&lt;mark&gt;</code></td>
      <td><mark>This is marked text</mark></td>
    </tr>
  </tbody>
</table>
